
extends layout
block content
    div.form
        form.form_1(action="login" method="POST" enctype="multipart/form-data") 
            h1 Login
            p.username Username
            input.input(type="text" name="username")
            p.password Password
            input.input(type="password" name="password")
            div.button-container
                button.submit-button(type="submit") submit
                button.submit-button(type="submit") register 